/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.14,
* Autoprefixer: v10.4.7
* Browsers: last 4 version
*/

.container{
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
    background-color: #f6f8f9;
    /* border: 2px solid red; */
}

header{
    width: 100%;
    /* border: 2px solid blue; */
    background-color: #f6f8f9;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px;
    position: fixed;
    top: 0%;
    z-index: 1;

}


.logo{
    width: 40%;
    font-size: 0.813rem;
    color: #fa6980;
    font-weight: bold;
    -webkit-animation: logoanimation 1s linear infinite;
            animation: logoanimation 1s linear infinite;
    /* animation-name: logoanimation;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-iteration-count: 3;
    box-shadow: 10px 15px rgb(223, 109, 109); */
}

@-webkit-keyframes logoanimation{
    50% {
        opacity: 0;
      }
    

}

@keyframes logoanimation{
    50% {
        opacity: 0;
      }
    

}


li a{
    color: #a6adb4;
}

.headerul{
    font-size: 0.688rem;
    color: #a6adb4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 30px;
}


.active{
    color: #343638;
}


ul li:hover{
    cursor: pointer;
    -webkit-text-decoration: underline solid 2px #fa6980;
            text-decoration: underline solid 2px #fa6980;
}

li a:hover{
    cursor: pointer;
    -webkit-text-decoration: underline solid 2px #fa6980;
            text-decoration: underline solid 2px #fa6980;
}




                    /* wsection1 styling starts here  */



.wsection1{
    width: 85%;
    margin: 0 auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 53px auto 0 auto;
    /* border: 2px solid salmon; */
    background-color: #ffffff;
}

.section1_left{
    width: 50%;
    height: 599px;
    background-image: url(../worldnews.png);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
}

.worldnews{
    font-size: 1.875rem;
    color: #ffffff;
    font-weight: bold;
}



form{
    width: 50%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    /* gap: 55px; */
}

.input{
    width: 70%;
    /* height: 80px; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 10px;
}

input[type=text]{
    height: 40px;
    border-color: #ebeded;
    border-style:solid; 
    
}

input[type=datetime]{
    height: 40px;
    border-color: #ebeded;
    border-style:solid; 
   
}

label{
    color: #202124;
    font-size: 0.813rem;
    font-weight: bolder;
}


.button{
    width: 20%;
    height: 40px;
    background-color: #fa6980;
    font-size: 0.688rem;
    color: #ffffff;
    border-radius: 5px;
    border: none;
    -webkit-transition: all 0.5s;
    -o-transition: all 0.5s;
    transition: all 0.5s;
}

button:hover{
    background-color: rgba(250, 107, 131, 0.5);
    cursor: pointer;
}








                /* wsection2 styling starts here  */



.wsection2{
    width: 85%;
    margin: 36px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background-color: rgba(0,0,0,0);
    padding: 28px 0;
    border-top: 2px solid #ebeded;
    border-bottom: 2px solid #ebeded;

}

.text1{
    width: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 20px;
    /* align-items: center; */
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    
    /* border: 2px solid pink; */
}

.wsection2_inside{
    width: 56%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
}

.imgdiv{
    width: 60%;
    

}

.boy_pic{
    width: 15%;
    
}

.lorem1{
    font-size: 1.5rem;
    color: #202124;
    font-weight: bolder;
}

.lorem2{
    color: #a6adb4;
    font-family: 'Roboto';
    font-size: 0.875rem;
}




                 /* section3 styling starts here  */

.section3{
    width: 85%;
    margin: 36px auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 80px;
    /* justify-content: space-between; */
    background-color: rgba(0,0,0,0);
    /* padding: 28px 0; */
    
    
}


.dumbo{
    width: 100%;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.section3_text{
    width: 100%;
}












            





                  /* footer styling starts here  */



footer{
    width: 100%;
    margin: 101px auto 0 auto;
    /* border: 2px solid blueviolet; */
    background-color: #a6adb4;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    
    padding: 20px 0 20px 0;
}

.footer1{
    /* width: 20%; */
    font-size: 0.813rem;
    color: #ffffff;
    font-weight: bold;
    /* padding: 0 0 75px 145px; */
}

.footerul{
    font-size: 0.813rem;
    color: #cbd0d3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 12px;
}


.footer2{
    /* width: 45%; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    /* padding: 0 0 0 60px; */

}


.footer3 a{
    color: #ffffff;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}
.footer3{
    /* width: 40%; */
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /* flex-wrap: nowrap; */
    /* flex-direction: inherit; */
    gap: 32px;
    
    /* padding: 0 0 75px 280px; */
}

.footer3 a:hover{
    color: rgba(255, 255, 255, 0.5);
    cursor: pointer;
}






@media screen and (max-width: 768px){
    .wsection1{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        

    }
    .section1_left{
        width: 100%;
    }
    form{
        width: 100%;
        gap: 30px;
        padding: 45px 0;
        /* justify-content: space-between; */
    }
    .input{
        /* padding-top: 55px; */
    }
    .wsection2{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 25px;
    }
    .wsection2_inside{
        width: 100%;
    }

    .text1{
        width: 43%;
    }

}



@media screen and (max-width: 480px){
    .logo{
        color: #a6adb4;
    }
    .wsection2_inside{
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        gap: 35px;
    }

    .text1{
        width: 85%;
    }

    .footer1{
        display: none;
    }

    .footer2{
        display: none;
    }

    .footer3{
        padding: 48px 0;
    }
}